body{
    /* background-color:rgb(240, 231, 231); */
    background-color: #2c2b2b;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin:0;
}

/* Navbar */
.top-nav{
  background-color: transparent;
  padding: 0px;
  position: -webkit-sticky;
}

.top-nav img{
  border-radius: 100px;
  padding: 0px;
  margin: 7px;
  left: 10px;
  margin-top: 10px;
  margin-left: 11px;
  box-shadow: 0 0px 7px 0 rgba(241, 225, 102, 0.767);
  width: 50px;
}

.nav-p{
  position: absolute;
  top: 1px;
  font-family: 'PT Sans', sans-serif;
  font-size: 21px;
  left: 70px;
  color: rgb(241, 225, 102);
}

.top-nav a {
  float: right;
  margin: 5px;
  font-family: 'PT Sans', sans-serif;
  text-decoration: none;
  color: #ffffff;
  padding: 15px;
  border-radius: 8px;
  background-color: rgb(241, 225, 102);
  cursor: default;
}

.top-nav .btn-2{
  border-style: solid;
  border-color: rgb(241, 225, 102);
  border-width: 1px; 
  float: right;
  margin: 5px;
  font-family: 'PT Sans', sans-serif;
  text-decoration: none;
  color: #ffffff;
  padding: 15px;
  border-radius: 8px;
  background-color: transparent;
  cursor: default;
}

.nav-a{
  position: absolute;
  right: 9px;
  top: 4px;
}
/* Navbar */

h1{
  font-family: 'PT Sans', sans-serif;
  position: fixed;
  left: 485px;
  font-size: 50px;
  color:whitesmoke;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0,7);
}

.report-card{
  position: fixed;
  top: 200px;
  left: 125px;
  background-color: rgb(245, 245, 245);
  border-radius: 8px;
  padding: 10px;
  width: 1100px;
  height: 400px;
  box-shadow: 0 0px 3px 0 rgba(0,0,0,0.5);
}

.report-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.report-card p{
  font-family: 'PT Sans', sans-serif;
  color: #313030;
}

.text_report{
  position: fixed;
  top: 279px;
  left: 700px;
}

.text_report .sign{
  position: fixed;
  top: 559px;
  left: 930px;
}

.img-prof{
  position: fixed;
  top: 300px;
  left: 200px;
}

.img-prof .img-admin{
  height: 200px;
  width: 200px;
  border-radius: 100px;
  box-shadow: 0 0px 7px 0 rgba(0,0,0,0.5);
}

.img-prof .img-usr{
  height: 200px;
  width: 200px;
  border-radius: 100px;
  box-shadow: 0 0px 7px 0 rgba(0,0,0,0.5);
}

.ok-next{
    background-color: #F3E367;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    line-height: 50%;
    position: absolute;
    top: 20px;
    color: #313030;
    font-family: 'PT Sans', sans-serif;
    right: 30px;
    text-decoration: none;
  }

    .ok-next-1{
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      background-color: #2e63ddb9;
      border-radius: 30px;
      padding: 20px;
      text-align: center;
      line-height: 50%;
      position: absolute;
      top: 20px;
      color: #313030;
      font-family: 'PT Sans', sans-serif;
      right: 140px;
      text-decoration: none;
    }
  
    /* On mouse-over, add a deeper shadow */
    .ok-next-1:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
      }