body{
	background-color: #2c2b2b;
	background-size: cover;
	background-repeat: no-repeat;
		background-attachment: fixed;
}

/* navbar */
.lefty-nav {
	height: 100%;
	width: 200px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #ffffff;
	overflow-x: hidden;
	padding-top: 20px;
	box-shadow: 0 0px 7px 0 rgba(0,0,0,0.5);
}
  
.lefty-nav img{
	height: 143px;
	width: 143px;
	position: fixed;
	left: 30px;
	top: 40px;
}

.lefty-nav .butt-space{
	position: fixed;
	top: 200px;
}

.lefty-nav a {
	padding: 20px 8px 20px 16px;
	text-decoration: none;
	font-size: 16px;
	color: #000000;
	display: block;
	font-family: 'PT Sans', sans-serif;
}
/* navbar */

.card-table-konf {
	width: 1090px;
	height: 580px;
	position: absolute;
	top: 50px;
  right: 34px;
	background-color: #ffffff;
	border-radius: 8px;
	margin-bottom: 10px;
}

.card-table-konf .notyet{
	background-color: rgb(255, 0, 0);
	padding: 6px;
	border-radius: 5px;
}

.card-table-konf .yet{
	background-color: rgba(0, 128, 0, 0.541);
	border-radius: 5px;
	padding: 6px;
}

/* table */
table{
	font-size: 12px;
	font-family: 'PT Sans', sans-serif;
	text-align: center;
	margin: 16px;
	width: 1055px;
}

th{
	color: white;
	background-color: #2C2E31;
}

.card-table-konf a{
	text-decoration: none;
	color: rgb(255, 255, 255);
	background-color: #F3E367;
	padding: 3px;
	border-radius: 4px;
}

.card-table-konf .a_delete{
	text-decoration: none;
	color: rgb(255, 255, 255);
	background-color: rgb(255, 0, 0);
	padding: 3px;
	border-radius: 4px;
}
/* table */

img{
	position: fixed;
	top: 70px;
	left: 500px;
}